.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgba(92, 83, 80, 0.9);
  color: white;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #40342f;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #e6000d;
  padding: 0.20rem 0.8rem;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}